body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #B3780D;
  align-items: center;
  justify-content: center;
}

.navigation {
  text-align: center;
  width: 70%;
}

/* I used flex box role to make the navigation menu responsive */
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -2.5rem;
}

.navigation li {
  margin: 1rem;
  list-style: none;
  padding: 1rem;
  border-radius: 0.7rem;
}

a {
  text-decoration: none;
}

main {
  max-width: 90%;
  margin: 1rem 5%;
}

.banner {
  position: relative;
  color: red;
  text-align: center;
  animation: 2s ease-out 0s 1 fadeIn;
}

.banner img {
  width: 100%;
}

.details {
  width: 10rem;
  background-color: lightgray;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 3rem auto;
  align-self: center;
}

.cusReview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.review {
  background-color: lightgrey;
  width: 40vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  display: inline-block;
}

.para {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1rem;
}

.footer {
  background-color: #5E056B;
  margin-top: 1rem;
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
}

.footer .links {
  margin-left: auto;
}

.facebook {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem;
}

.instagram {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem;
}

/* This container styles the vehicles page cars */
.container {
  margin: 1rem;
}

/* I used flexbox to arrange the card items in horizontal direction  */
.vehcard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem;
  font-size: 1.25rem;
}

.vehcard img {
  margin-right: 1rem;
}

.container {
  margin: 1rem;
}

/* Styling the contact page */
/* I used the grid to arrange the form elements below each other */
.form {
  display: grid;
}

.form input {
  margin: 1rem 0;
  background-color: lightgray;
  padding: 1rem;
  width: 70%;
}

.form textarea {
  background-color: lightgray;
}

#submit {
  width: 30vw;
  margin: 1rem auto;
}

/* This animates the form sliding */
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* This rule for animation slide from left*/
.form {
  animation: 1s ease-out 0s 1 slide;
  padding: 30px;
}

/*This section fades in the banner's image*/
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* This section for the media query to make the site responsive for screens larger than mobile phones */
@media only screen and (min-width: 678px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navigation ul {
    margin-left: 1rem;
    justify-content: space-between;
  }

  .navigation li {
    margin: 0 6rem;
  }

  .banner img {
    width: 80%;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cusReview {
    justify-content: flex-start;
  }

  .para {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .review {
    margin-left: 8rem;
    width: 20vw;
  }

  /* Contact page main content container*/
  .container {
    margin: 2rem;
  }

  .form input {
    width: 60%;
  }

  .footer {
    font-size: 3rem;
  }
}
